@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes popup {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }

  60% {
    transform: scale(1.08);
    opacity: 1;
  }

  80% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}
/* Shelby background pattern */

.shelby-pattern{
position:absolute;
inset:0;
pointer-events:none;
opacity:0.10;

background-image:url("/assets/icons/shelby-logo.svg");
background-repeat:repeat;
background-size:120px;
}

.pattern-mode1{
filter: sepia(40%) saturate(200%) hue-rotate(330deg);
}

.pattern-mode2{
filter: saturate(200%) hue-rotate(310deg);
}

.pattern-mode3{
filter: saturate(200%) hue-rotate(260deg);
}